@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400&family=Barlow+Condensed:wght@300;400&family=Bellefair&display=swap');
/*Barlow:wght@200
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/


:root{
    --Barlow: 'Barlow', sans-serif;
    --BarlowC: 'Barlow Condensed', sans-serif;
    --Bellfair: 'Bellefair', serif;
    --inactiveColor: #D0D6F9;
}

p{
    font-family: 'Barlow', sans-serif;
}

.flex{
    display: flex;
}

.num{
    font-family: var(--BarlowC);
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.25);
    margin-right: 1rem;
    letter-spacing: 0.2rem;
}
.pick{
    font-family: var(--BarlowC);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

hr{
    border-color: #545768;
    border-radius: 4px;
}

.centered{
    text-align: center !important;
    justify-content: center;
}
